@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;
}

.clear {
    clear: both;
}

.ownerbuttons{
  margin-left: 15px;
}

hr{
  color: #6f728a;
}

.style_image {
  border: 3px solid white;
  height: 85%;
  -moz-box-shadow: 8px 8px 5px #888;
  -webkit-box-shadow: 8px 8px 5px #888;
  box-shadow: 8px 8px 5px #888;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#map {
  height: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}


.navbar-inverse .navbar-brand {
  color: #23b1cf;
  font-family: 'oswald_regularregular', sans-serif;
   font-size:26px;


}


body {
  background: image_url('circuit.png');
 font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

.navbar {
   background: image_url('dark-paths.png');
  -moz-box-shadow: 8px 8px 5px #888;
  -webkit-box-shadow: 8px 8px 5px #888;
  box-shadow: 8px 8px 5px #888;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}