@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;
}

.clear {
    clear: both;
}

#map {
  height: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}


.navbar-inverse .navbar-brand {
  color: #23b1cf;
  font-family: 'oswald_regularregular', sans-serif;
   font-size:26px;


}


body {
  background: image_url('circuit.png');
 font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

.navbar {
   background: image_url('dark-paths.png');
  -moz-box-shadow: 8px 8px 5px #888;
  -webkit-box-shadow: 8px 8px 5px #888;
  box-shadow: 8px 8px 5px #888;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}